@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    word-break: keep-all;

    font-family:
      "Pretendard Variable",
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      "Helvetica Neue",
      "Segoe UI",
      "Apple SD Gothic Neo",
      "Noto Sans KR",
      "Malgun Gothic",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }
}

@layer components {
  .text-block {
    @apply rounded-full px-4;
  }
}

@layer utilities {
  .text-responsive-display {
    font-size: clamp(2rem, 5vw, 2.5rem);
    line-height: 1.6;
    font-weight: 700;
    text-wrap: pretty;
    word-break: keep-all;
  }

  .text-responsive-h1 {
    font-size: clamp(1.75rem, 4.5vw, 2.25rem);
    line-height: 1.6;
    font-weight: 700;
    word-break: keep-all;
  }

  .text-responsive-h2 {
    font-size: clamp(1.5rem, 4vw, 1.75rem);
    line-height: 1.6;
    font-weight: 700;
    word-break: keep-all;
  }

  .text-responsive-h3 {
    font-size: clamp(1.25rem, 3.5vw, 1.5rem);
    line-height: 1.6;
    font-weight: 700;
    word-break: keep-all;
  }

  .text-responsive-p {
    font-size: clamp(1.1rem, 2.5vw, 1.2rem);
    line-height: 1.6;
    word-break: keep-all;
  }

  .text-p {
    font-size: 1.1rem;
    line-height: 1.6;
    word-break: keep-all;
  }

  .bg-thumbnail {
    background-image: conic-gradient(
      from 180deg,
      #ff8f57 10%,
      #1688ff 70%,
      #ff8f57 90%
    );
    opacity: 0.8;
    filter: blur(80px);
  }

  .dark .bg-thumbnail {
    background-image: conic-gradient(
      from 180deg,
      #05173b 10%,
      #bf280a 70%,
      #0b2878 90%
    );
  }

  .custom-scrollbar {
    scrollbar-width: auto; /* Firefox */
    scrollbar-color: #d4d4d4 transparent; /* thumb / track */

    /* Chrome, Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d4d4d4;
      border-radius: 9999px;
      border: 2px solid transparent;
    }
  }

  .dark .custom-scrollbar {
    scrollbar-color: #404040 transparent; /* thumb / track */
    &::-webkit-scrollbar-thumb {
      background-color: #404040;
    }
  }

  .highlight {
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    background: var(--highlight-light);
    color: inherit;
  }

  .dark .highlight {
    background: var(--highlight-dark);
  }
}

/* View Transition Speed */
@supports (view-transition-name: none) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.1s;
  }

  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation-duration: 0.1s;
  }
}

/* Firefox fallback - disable view transitions */
@supports not (view-transition-name: none) {
  * {
    view-transition-name: none !important;
  }
}
