@import "../../../packages/ui/styles/utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-block {
    @apply rounded-full px-4;
  }
}

@layer utilities {
  .text-responsive-display {
    font-size: clamp(2rem, 5vw, 2.5rem);
    line-height: 1.6;
    font-weight: 700;
    text-wrap: pretty;
    word-break: keep-all;
  }

  .text-responsive-h1 {
    font-size: clamp(1.75rem, 4.5vw, 2.25rem);
    line-height: 1.5;
    font-weight: 700;
    text-wrap: pretty;
    word-break: keep-all;
  }

  .text-responsive-h2 {
    font-size: clamp(1.5rem, 4vw, 1.75rem);
    line-height: 1.5;
    font-weight: 700;
    text-wrap: pretty;
    word-break: keep-all;
  }

  .text-responsive-h3 {
    font-size: clamp(1.25rem, 3.5vw, 1.5rem);
    line-height: 1.4;
    font-weight: 700;
    text-wrap: pretty;
    word-break: keep-all;
  }

  .text-responsive-p {
    font-size: clamp(1.1rem, 2.5vw, 1.2rem);
    line-height: 1.4;
    text-wrap: pretty;
    word-break: keep-all;
  }

  .text-p {
    font-size: 1.1rem;
    line-height: 1.4;
    text-wrap: pretty;
    word-break: keep-all;
  }

  .bg-thumbnail {
    background-image: conic-gradient(
      from 180deg,
      #ff8f57 10%,
      #1688ff 70%,
      #ff8f57 90%
    );
    opacity: 0.8;
    filter: blur(80px);

    @media (prefers-color-scheme: dark) {
      .custom-background {
        background-image: conic-gradient(
          from 180deg,
          #05173b 10%,
          #471409 70%,
          #0b2878 90%
        );
      }
    }
  }
}
