@import "../../../packages/ui/styles/utilities.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PyeongChangPeace-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  * {
    word-break: keep-all;

    font-family:
      "Pretendard Variable",
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      "Helvetica Neue",
      "Segoe UI",
      "Apple SD Gothic Neo",
      "Noto Sans KR",
      "Malgun Gothic",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }

  .mySwiper .swiper-slide {
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
  }

  @media (prefers-color-scheme: dark) {
    .mySwiper .swiper-slide {
      border-color: #27272a;
    }
  }

  .swiper-3d .swiper-slide-shadow {
    background: #8885 !important;
  }
}

@layer utilities {
  .blob-outer-container {
    position: absolute;
    height: 100%;
    max-height: 16rem;
    aspect-ratio: 1;
    z-index: -1;
    filter: blur(50px);
  }
  .blob-inner-container {
    border-radius: 100rem;
    width: 100%;
    height: 100%;
    transform: scale(1.8, 0.8);
    overflow: hidden;
  }
  .blob {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    background: conic-gradient(
      from 0deg,
      #fff,
      #fff,
      #ff91af,
      #fff,
      #ffe556,
      #00bcf0,
      #fff
    );
    animation: spinBlob 6s linear infinite;
    border-radius: 100rem;
  }

  @media (prefers-color-scheme: dark) {
    .blob-outer-container {
      opacity: 0.5;
    }

    .blob {
      background: conic-gradient(
        from 0deg,
        #0000,
        #271b48,
        #ff91af,
        #271b48,
        #ffe556,
        #00bcf0,
        #0000
      );
    }
  }

  @keyframes spinBlob {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(1turn);
    }
  }
}
