@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveRight {
  0% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes moveLeft {
  0% {
    right: 0%;
    opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

.animate-move-right {
  animation: moveRight 0.6s ease-in-out forwards;
}

.animate-move-left {
  animation: moveLeft 0.6s ease-in-out forwards;
}
